@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Josefin Sans', sans-serif;
}

.centerHorizontal {
    padding: 1rem 2rem 0 2rem;
    height: 100%;
    width: 80%;
    margin: auto;
}

.userName {
    text-align: center;
    font-size: 3.5rem;
}

.centerVertical {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.profileSection {
    width: 30%;
}

.profileSection>div {
    /* margin-top: 1rem; */
}

.Icons>a {
    font-size: 10rem;
}

.form {
    width: 60%;
}

form {
    display: flex;
    flex-direction: column;
}

form>input {
    margin-top: 1rem;
    padding: 0.5rem;
}

form>input[type=file] {
    border: 2px solid darkgrey;
}

form>input[type=submit] {
    padding: 0.2rem 0rem;
    border-radius: .2rem;
    outline: none;
    border: none;
    background-color: turquoise;
}