#tableForm{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
}
#getAll{
    display: flex;
    align-items: center;
    justify-content: center;
}
h3{
    text-align: center;
}
select{
    margin-right: 15px;
}